@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
.theme-sct {
  background-color: #242424;
  // Set your brand colors
  $primary: #df691a;
  $tag: #04F3C6;
  // Import Bulma's core
  @import "~bulma/sass/utilities/_all";
  @import "./global/variables.scss";
  // Import Bulma and Buefy styles
  @import "~bulma";
  @import "~buefy/src/scss/buefy";
  @import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";
  #app {
    font-family: "Noto Sans KR","Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  //Set Colors
  $background: #1f2d3b;
  $background-content: #2B3E50;
  $content: #eff5fc;
  $link: #a7b9ce;

  html, section {
    background-color: $background;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    min-height: 550px;
  }
  body {
    color: $content;
  }
  a {
    color: $link;
    cursor: pointer;
    text-decoration: none;
  }
  a strong {
    color: currentColor;
  }
  a:hover {
    color: $content;
  }
  span {
    color: $content;
  }
  .box {
    background-color: $background-content;
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 2px 2px 3px 1px rgba(10, 10, 10, 0.1);
    color: $content;
    display: block;
    padding: 1.25rem;
  }
  a.box:hover, a.box:focus {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px $link;
    border: 1px solid $primary;
  }
  a.box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px $link;
  }

  h5.card-header-title a {
    color: white;
  }
  .cat-style.box {
    margin-left: 10px;
    border: 1px solid transparent;
  }
  .cat-style.box:hover {
    background-color: $background;
    border-color: $background-content;
  }

  .card {
    background-color: $background-content;
  }
  .card-content {
    padding: 0.2rem;
  }
  .card-header-title {
    margin-bottom: 0px;
  }

  // Navbar Style
  .navbar {
    background-color: #2B3E50;
    z-index: 30;
  }
  .navbar-burger {
    color: #dee5ed;
  }
  .navbar-burger span {
    background-color: currentColor;
  }
  .navbar-menu {
    background-color: #2B3E50;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }

  // VP and RC indicator

  .progress {
    background-color: #4E5D6C;

  }

  .progress-percentage {
    background-color: #1f2d3b;
    color: white
  }

  .progress-label {
    color: #dee5ed;
    font-size: 1em;
  }

  //Button
  .button.is-small {
    background-color: #4E5D6C;
    border-color: #4E5D6C;
    border-width: 1px;
    box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.3), 2px 2px 3px 1px rgba(10, 10, 10, 0.3);
    color: #dee5ed;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    font-size: 1em;
    min-width: 100px;
  }
  .button.is-small:hover, .button.is-hovered {
    border-color: $link;
    color: $content;
  }
  .button.is-small:focus, .button.is-focused {
    border-color: #5bc0de;
    color: $content;
  }
  .button.is-small:focus:not(:active), .button.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(134, 148, 164, 0.25);
  }
  .button.is-small:active, .button.is-active {
    border-color: transparent;
    color: $content;
  }
  .dropdown-menu {
    display: none;
    left: 0;
    min-width: 12rem;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  .dropdown-content {
    background-color: $background-content;
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .dropdown-item {
    color: #dee5ed;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
  }

  a.dropdown-item,
  button.dropdown-item {
    padding-right: 3rem;
    text-align: left;
    white-space: nowrap;
    width: 100%;
  }
  a.dropdown-item:hover,
  button.dropdown-item:hover {
    background-color: $background-content;
    color: $link;
  }
  a.dropdown-item.is-active,
  button.dropdown-item.is-active {
    background-color: $link;
    color: #fff;
  }

  .dropdown-divider {
    background-color: #4E5D6C;
    border: none;
    display: block;
    height: 1px;
    margin: 0.5rem 0;
  }
  .breadcrumb a {
    color: $link;
  }
  .breadcrumb a:hover {
    color: $primary;
  }
  .topic-nav {
    margin: 10px 0 10px 0;
  }
  // Setting Page {
  .menu-list li a {
    color: $link;
  }

  .card-header {
    border-bottom: 1px solid $background;
    box-shadow: none;
  }
  .table {
    width: 100%;
  }
  .table td, .table th {
    border: 1px solid #4E5D6C;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
  }
  .table th {
    color: #bdcbdb;
    text-align: left;
  }
  .table thead td,
  .table thead th {
    border-width: 0 0 2px;
    color: #bdcbdb;
  }
  .table tfoot td,
  .table tfoot th {
    border-width: 2px 0 0;
    color: #bdcbdb;
  }
  .table tbody tr:last-child td,
  .table tbody tr:last-child th {
    border-bottom-width: 0;
  }
  .label {
    color: #dee5ed;
  }
  .cprops-description {
    color: $link;
    font-size: 0.8em;
  }

  .setting-view {
    h1, h2, h3, h4, h5, h6 {
      color: $content;
    }
  }
  .b-table .table {
    background-color: transparent;
  }
  //Topic View Page {
  .topic-view {
    blockquote {
      background-color: $background;
      border-left: 5px solid $primary;
      padding: 1.25em 1.5em;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #bdcbdb;
      font-weight: 600;
      line-height: 1.125;
    }
    strong {
      color: #bdcbdb;
      font-weight: 700;
    }
    pre {
      -webkit-overflow-scrolling: touch;
      background-color: #2B3E50;
      color: #dee5ed;
      font-size: 0.875em;
      overflow-x: auto;
      padding: 1.25rem 1.5rem;
      white-space: pre;
      word-wrap: normal;
    }
    pre code {
      background-color: $background;
      color: currentColor;
      font-size: 1em;
      padding: 0;
    }
    code {
      background-color: #2B3E50;
      color: #d9534f;
      font-size: 0.875em;
      font-weight: normal;
      padding: 0.25em 0.5em 0.25em;
    }
    .content table thead th {
      color: #bdcbdb;
    }
  }
  //Post List Page
  span.tag.is-small {
    background-color: $background;
    border: 1px solid $background-content;
  }
  .topic-list {
    .box {
      margin-bottom: 5px;
      border: 1px solid transparent;
      .icon.is-small {
        color: $content;
      }
    }
    .box:hover {
      background-color: $background;
      border-color: $background-content;
    }
    h2.title.is-6 {
      color: $content;
    }
  }
  .post-page {
    .quote-this a {
      color: $content;
    }
    .edit-this a {
      color: $content;
    }
    .quote-this a:hover {
      color: $link;
    }
    .edit-this a:hover {
      color: $link;
    }
    .icon.is-medium {
      color: $primary;
    }
    .upvote-drop-control .dropdown-content {
      border: 1px solid $background;
      box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
  }
  .markdown-body blockquote {
    color: $content;
  }
  .pagination {
    margin: 25px 0 25px 0;
  }
  a.pagination-link {
    color: $content;
    background-color: $background;
    border: 1px solid $content;
  }
  a.pagination-link:hover {
    color: $primary;
  }
  a.pagination-link.is-current {
    font-size: 0.9rem;
    background-color: $background;
    border-color: $primary;
  }
  // Dashboard Style //
  .dashboard {
    section {
      min-height: 0px;
    }
    input {
      border-radius: 0px;
      height: 40px;
      padding-top: 10px;
    }
    .field {
      width: 50%;
    }
    .b-table .table {
      padding: 0px;
    }
    .level {
      padding-bottom: 1rem;
    }
    .header {
      text-transform: uppercase;
      font-size: 1.6rem;
      color: white;
    }
    .sub-header {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: white;
      padding-bottom: 1rem;
    }
    .administrators {
      border: 1px solid $link;
      border-radius: 2px;
      padding: 25px;
    }
    .moderators {
      border: 1px solid $link;
      border-radius: 2px;
      margin-top: 1.2rem;
      padding: 25px;
    }
    &__admins {
      border-bottom: 1px solid $link;
      border-radius: 2px;
      margin-bottom: 1rem;
    }

    &__mods {
      border-bottom: 1px solid $link;
      margin-bottom: 1rem;
    }
    &__username {
      color: white;
      font-size: 1rem;
    }
    &__form {
      padding-bottom: 1rem;
    }
    // Categories Ordering Page
    &__categories {
      h2 {
        font-size: 1.2rem;
      }
      h4 {
        font-size: 1rem;
      }
      .field {
        width: 60%;
      }
      .save-ordering {
        margin-right: 10px;
      }
      .section {
        padding: 0px;
      }
      .categories {
        font-size: 1.2rem;
        box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 2px 2px 3px 1px rgba(10, 10, 10, 0.1);
        background-color: $background-content;
        padding: 1rem 1rem 1rem 1rem;
        border: 1px solid $background;
      }
      .groups {
        font-size: 1.2rem;
        padding: 1rem;
        box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 2px 2px 3px 1px rgba(10, 10, 10, 0.1);
        margin-bottom: 1rem;
        border: 1px solid $background-content;
      }
      .editing-box {
        background-color: $background-content;
        margin-top: 0.5rem;
        padding: 1rem 1rem 1rem 1rem;
        box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 2px 2px 3px 1px rgba(10, 10, 10, 0.1);
      }
      .save {
        margin-right: 1rem;
      }
    }

  }
  a {
    color: #000;
  }
  body div#app {
    font-family: "Nanum Gothic","Noto Sans KR","Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .navbar.navstyle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 84px;
    background: linear-gradient(90deg,#081f37 0,#1f4f82);
  }
  .navbar.navstyle + .section {
    padding: 84px 0 0;
    background: url('http://pey.dothome.co.kr/assets/img/antarctica-3093274_1920.jpg') no-repeat 0 -100px;
    background-attachment: fixed;
  }
  .navbar.navstyle + .section > .container {
    padding: 2rem 1.5rem;
  }
  .navbar.navstyle .navbar-item {
    padding: 0 48px;
  }
  .navbar.navstyle .nav-logo .navbar-item {
    padding: 0;
  }  
  .navbar-end .button.is-small {
    border-color: #000;
    font-size: 1.4em;
    font-weight: 500;
    padding: 0 1em;
    background: #616b76;
  }
  .navbar-end .button.is-small:hover {
    background: #7b8692;
  }
  .navbar-menu {
    background: none;
  }
  .breadcrumb {
    margin: 8px 0;
  }
  .breadcrumb li + li:before {
    font-weight: 700;
    color: #000;
  }
  .breadcrumb a {
    color: #000;
  }
  .breadcrumb a:hover {
    color: #df691a;
  }
  .breadcrumb > ul > li:first-of-type a {
    display: block;
    width: 18px;
    height: 24px;
    font-size: 1px;
    text-indent: -99px;
    overflow: hidden;
    background: url('http://pey.dothome.co.kr/assets/img/ico_home.png') no-repeat 0 50%;
    background-size: auto 14px;
  }
  .breadcrumb > ul > li:first-of-type a:hover {
    background-image: url('http://pey.dothome.co.kr/assets/img/ico_home_over.png');
  }
  .card {
    margin-top: 0;
  }
  .collapse.card.box-style {
    background: none;
    margin-bottom: 20px;
  }
  .card-content {
    background: rgba(32,54,89,0.8);
    padding: 1.5rem;
    margin-top: 10px;
    border-radius: 20px;
  }
  .collapse-content .card-content {
    background: none;
    padding: 0;
    margin: 0;
  }
  .container > div > .card-content > .content > div > .b-table {
    margin-bottom: 50px;
  }
  .collapse-content {
    padding: 1.2rem;
    background: none;
    border-top: 0;
    transition: none;
  }
  span.cprops-title {
    font-weight: 500;
    font-size: 20px;
  }
  .card-header {
    border-bottom: 2px solid #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 2px solid #000;
    background: rgba(0,0,0,0.3);
    margin: 0;
  }
  .content h5 {
    margin-bottom: 0;
  }
  .cat-stats {
    font-size: 0.9rem;
  }
  .b-table .table {
    padding: 0;
    border: 0;
  }
  .container .box {
    background-color: #2e4c7c;
    border-color: #fff;
    margin-bottom: 5px;
    transition: all 0.2s ease;
  }
  .container .box:hover {
    background-color: #132137;
    border-color: #1d3152;
  }
  .container .box:hover .cprops-title,
  .container .box:hover .content h2 {
    font-weight: 700;
  }
  .container.topic-list .box {
    padding: 1.25rem;
  }
  span.tag.is-small {
    background: #fff;
  }
  span.tag.is-small:hover {
    background: #df691a;
  }
  span.tag.is-small:hover a {
    color: #fff;
  }
  .footer-main a {
    color: #a7b9ce;
  }
  @media screen and (max-width: 1023px) {
    .navbar.navstyle {
      height: 68px;
    }
    .navbar.navstyle .navbar-item {
      padding: 0 1.5rem;
    }
    .navbar-menu {
      background: rgba(255,255,255,0.5);
    }
    .navbar-end {
      text-align: right;
    }
    .navbar.navstyle + .section {
      padding: 68px 0 0;
    }
  }

  // make sure to have all sensible defaults set
  @import "./global/sensible-defaults.scss";
}
